body {
  font-family: sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-form input,
#signup-form small {
  margin-left: 1rem;
  margin-right: 1rem;
}

#required-signup-info {
  display: flex;
  flex-direction: column;
}

.signup-address-info {
  display: flex;
}

#signup-button {
  margin-top: 1rem;
}

/* Checkout */
.cart-item {
  display: flex;
  flex-direction: row;
}

.cart-item h4,
.cart-item h5 {
  margin: 1rem;
}

.cart-item h4 {
  width: 15rem;

.listAllPuns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-pun-in-list {
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
}

.single-pun-in-list h2 {
  color: black;
  font-size: 16px;
}

.single-pun-in-list h2:hover {
  color: red;
}

.quick-add-to-cart {
  margin-bottom: 1rem;
}

.admin-edit-inventory-buttons {
  display: flex;
  justify-content: space-evenly;

}
